div.div-1 {
    background-color: #000000;
}

div.div-2 {
    background-color: rgba(0, 0, 0, 0.5);
}

div.div-3 {
    background-color: 	rgba(0, 0, 0, 0.2);
}

div.div-4 {
    background-color: 	rgba(0, 0, 0, 0.1);
}

.kwadrat {
    height: 70px;
    width: 70px;
}

body{
background-color: #f5f5dd;
}