div.div-1{
    background-color: #000000;
    height: 70px;
    width: 70px;
    vertical-align: middle}
div.div-2{
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: 70px;
    vertical-align: middle}
div.div-3{
    background-color: 	rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 70px;
    vertical-align: middle}
div.div-4{
    background-color: 	rgba(0, 0, 0, 0.1};
    height: 70px;
    width: 70px;
    vertical-align: middle}

body{
background-color: #f5f5dd;
}